<IfModule mod_rewrite.c>

    Options +FollowSymLinks
    RewriteEngine on
    RewriteCond $1 !^(index\.php|assets|robots\.txt|favicon\.ico|sitemap\.xml|yandex_4635b7acf4e50849\.html|googled52c25d27e11fc8c\.html|wmail_e76f020f6f5ef3ec\.html)

    # Send request via index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>