AddDefaultCharset utf-8
RewriteEngine on

RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond $1 !^(index\.php|assets|test|robots\.txt|favicon\.ico|sitemap\.xml|yandex_4c5c67b786491f1a\.html|googled52c25d27e11fc8c\.html)
RewriteRule ^(.*)$ /index.php/$1 [L]